        <!--about us start  -->
        <div id="about_us"></div>
        <section>
            <div class="abouts">
              <div class="content">
                <div class="container">
                  <!-- Heading about us -->
                  <div class="abouth">
                    
                  </div>                    
                  <div class="row">
                    <div class="col-12 col-lg-4 col-md-4">
                      <img src="{{about.cover_image.url}}" alt="Company Image" class="img-fluid">
                    </div>
                    <div class="col-12 col-lg-8 col-md-8 mt-3" style="padding-left:50px">
                        <div class="text-left">
                            <div class="section-title">
                              <h4 class="title">{{about.title}}</h4>
                            </div>
                          </div>
                      <p><span class="text-primary fw-bold">{{about.description_bold}}</span> {{about.description}}</p>
                      <a type="submit" class="btn btn-pills btn-primary" href="{{about.button_url}}"><span style="color:white">{{about.button_name}}</span></a>
                    </div>
                  </div>                       
                </div>
              </div>
            </div>
        </section>
          
                <!-- about us end -->